.wrapper {
  width: 900px;
  margin: auto;
}
.table {

}
.table-ins {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  border: 1px solid #000;
  margin-top: 10px;
}
.cell {
  padding: 10px;
  border-right: 1px solid #000;
  width: 180px;
}
.additional-info {
  display: flex;
  flex-direction: column;
  width: 300px;
}
